
.nav-bar {
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  border-bottom: 4px solid black;
  margin-top: 0px;
}


.nav-bar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}


.nav-bar ul li{
  font-weight: bold;
  padding: 6px 12px;
  font-size: 30px;
}

.link{
  color: black;
  text-decoration: none;
}

.link:hover{
  background-color: white;
  color: black;
  padding: 15px;
  border-radius: 15px;
}



@media (max-width: 600px) {
  .nav-bar ul {
    flex-direction: column;
    gap: 10px;
  }
}