
.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
  border-bottom: 2px solid black;
}


.nav-bar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}


.nav-bar ul li {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 4px;
}


.nav-bar ul li:hover{
  color: black;;
}


@media (max-width: 600px) {
  .nav-bar ul {
    flex-direction: column;
    gap: 10px;
  }
}