.header{
  background-color: #b9d9ff;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


@media (max-width: 600px) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
